site_name: Tech Mind
site_url: https://Gerard-Devlin.github.io/TechMind/
repo_url: https://github.com/Gerard-Devlin/TechMind
repo_name: Gerard-Devlin/TechMind
# 自定义页脚文本
copyright: "Copyright © 2024 - 2025 Devlin"
edit_uri: edit/master/my-project/docs/
theme:
  name: material
  custom_dir: material
  icon:
    logo: material/application-braces-outline
    repo: fontawesome/brands/github-alt
    favicon: images/favicon.png
    annotation: material/google-circles
  features:
    #    - content.action.edit
    - content.action.view
    - navigation.top
    - navigation.path
    - navigation.instant
    - navigation.tabs
    - navigation.footer
    - navigation.tracking
    - navigation.sections
    - navigation.instant.progress
    - navigation.prune
    - navigation.indexes
    # 代码块功能
    - content.code.select
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    # 提示功能
    - content.tooltips
    - header.autohide
    # 搜索提示
    - search.suggest
    - search.highlight
    - search.share
  # 配色方案
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/theme-light-dark
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to system preference

  font:
    text: Roboto
    code: Roboto Mono

# 插件支持
plugins:
  - tags
  - search:
      pipeline:
        - stemmer
        - stopWordFilter
        - trimmer
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
      lang:
        - en
        - zh
  - glightbox:
      width: 80%
      background: white
  - minify:
      minify_html: true
  - git-revision-date-localized:
      enable_creation_date: true

# Markdown 扩展
markdown_extensions:
  - abbr
  - attr_list
  - footnotes
  - md_in_html
  - toc:
      permalink: ⚓︎
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.blocks.caption
  # Admonitions 支持
  - admonition
  - pymdownx.details

  # 格式化支持
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

  # 代码高亮
  - pymdownx.highlight:
      use_pygments: true
      pygments_lang_class: true
      line_spans: __span
      anchor_linenums: true
      linenums: true

  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  # 图表支持
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

          # LaTeX 支持
  - pymdownx.arithmatex:
      generic: true

  # 列表支持
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

  # 提示支持
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md

# 页面分析/页尾社交
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Gerard-Devlin
  generator: false

# JavaScript 支持
extra_javascript:
  - javascripts/mathjax.js
  - javascripts/katex.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdn.jsdelivr.net/npm/katex@0/dist/katex.min.js
  - https://cdn.jsdelivr.net/npm/katex@0/dist/contrib/auto-render.min.js

# CSS 支持
extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
  - stylesheets/extra.css


# ---------------------------------------------------------------------------------------------------------
# 导航
nav:
  - Home: index.md

  - Overview:
      - 计算机数据: Overview/计算机数据.md
      - 计算机网络: Overview/计算机网络.md
      - 计算机操作系统: Overview/计算机操作系统.md
      - 软件工程: Overview/软件工程.md
      - 算法与数据结构: Overview/算法与数据结构.md

  - C:
      - 1 、入门: C/1 、入门.md
      - 2 、变量与运算符: C/2 、变量与运算符.md
      - 3 、if-else判断: C/3 、if-else判断.md
      - 4 、while循环: C/4 、while循环.md
      - 5 、for循环: C/5 、for循环.md
      - 6 、数据类型和运算: C/6 、数据类型和运算.md
      - 7 、函数: C/7 、函数.md
      - 8 、数组: C/8 、数组.md
      - 9 、指针: C/9 、指针.md
      - 10 、字符串: C/10 、字符串.md
      - 11 、结构体: C/11 、结构体.md

  - DataStruct:
      - 1 、概述: DataStruct/1 、概述.md
      - 2 、输入输出: DataStruct/2 、输入输出.md
      - 3 、链表: DataStruct/3 、链表.md
      - 4 、队列: DataStruct/4 、队列.md
      - 5 、栈: DataStruct/5 、栈.md
      - 6 、二叉树: DataStruct/6 、二叉树.md
      - 7 、并查集: DataStruct/7 、并查集.md
      - 8 、排序: DataStruct/8 、排序.md
      - 9 、排列: DataStruct/9 、排列.md
      - 10 、前缀和: DataStruct/10 、前缀和.md
      - 11 、差分数组: DataStruct/11 、差分数组.md
      - 12 、二分: DataStruct/12 、二分.md
      - 13 、DFS: DataStruct/13 、DFS.md
      - 14 、BFS: DataStruct/14 、BFS.md
      - 15 、数论: DataStruct/15 、数论.md
      - 16 、贪心: DataStruct/16 、贪心.md
      - 17 、动态规划: DataStruct/17 、动态规划.md
      - 18 、图: DataStruct/18 、图.md
      - 19 、最小生成树: DataStruct/19 、最小生成树.md
      - 综合: DataStruct/综合.md

  - CSAPP:
      - 1 、信息的表示和处理: CSAPP/1 、信息的表示和处理.md
      - 2 、机器级编程 :
          - 2.1 机器级编程：基础: CSAPP/2.1 机器级编程：基础.md
          - 2.2 机器级编程：控制: CSAPP/2.2 机器级编程：控制.md
          - 2.3 机器级编程：过程: CSAPP/2.3 机器级编程：过程.md
      - Lab:
          - bomblab: CSAPP/bomblab.md

  - ML＆DL:
      - ML:
          - 1 、监督学习: ML＆DL/1 、监督学习.md
          - 2 、高级学习算法: ML＆DL/2 、高级学习算法.md
          - 3 、无监督学习: ML＆DL/3 、无监督学习.md


