name: Deploy MKDocs

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

#      - name: Install dependencies
#        run: |
#          python -m pip install --upgrade pip
#          pip install mkdocs

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material mkdocs-git-committers-plugin-2 mkdocs-git-revision-date-localized-plugin mkdocs-git-authors-plugin mkdocs-minify-plugin mkdocs-glightbox

      - name: Deploy to GitHub Pages
        run: |
          mkdocs gh-deploy --config-file my-project/mkdocs.yml --force
